.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    min-height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    width: 250px;
    height: 100px;
    padding: 1rem;
    background: var(--clr-app-bg);
    color: var(--);
    z-index: 10;
    border-radius: 16px;
}