@value desktop-view from 'shared/styles/breakpoints.module.css';

.darkattr {
    --app-bg-img: url(./bg-mobile-dark.jpg);
    --app-bg-clr: var(--color-dt-very-dark-blue);
    --todo-bg-clr: var(--color-dt-very-desaturated-dark-blue);
    --todo-text-clr: var(--color-dt-light-grayish-blue-1);
    --todo-hover-text-clr: var(--color-dt-light-grayish-blue-2);
    --todo-completed-text-clr: var(--color-dt-very-dark-grayish-blue-1);
    --todo-border-clr: var(--color-dt-very-dark-grayish-blue-2);
    --default-text-clr: var(--color-dt-very-dark-grayish-blue-1);
}

.lightattr {
    --app-bg-img: url(./bg-mobile-light.jpg);
    --app-bg-clr: var(--color-lt-very-light-gray);
    --todo-bg-clr: #ffffff;
    --todo-text-clr: var(--color-lt-very-dark-grayish-blue);
    --todo-hover-text-clr: var(--color-lt-very-dark-grayish-blue);
    --todo-completed-text-clr: var(--color-lt-light-grayish-blue);
    --todo-border-clr: var(--color-lt-very-light-grayish-blue);
    --default-text-clr: var(--color-lt-dark-grayish-blue);
}

.bgsize {
    --app-bg-img-width: 375;
    --app-bg-img-height: 200;
}


@media desktop-view {
    .darkattr {
        --app-bg-img: url(./bg-desktop-dark.jpg);
    }

    .lightattr {
        --app-bg-img: url(./bg-desktop-light.jpg);
    }

    .bgsize {
        --app-bg-img-width: 1440;
        --app-bg-img-height: 300;
    }
}

.dark {
    composes: darkattr bgsize;
}

.light {
    composes: lightattr bgsize;
}