/*
 * CSS Reset by Kevin Powell
 * @link https://github.com/kevin-powell/css-challenges/blob/main/src/sass/_reset.scss
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}

/* root */
:root {
  /* Primary colors */
  --clr-bright-blue: hsl(220, 98%, 61%);
  --gradient-check-background: linear-gradient(to right bottom,
      hsl(192, 100%, 67%),
      hsl(280, 87%, 65%));

  /* Light theme neutral colors *lt="light theme" */
  --clr-lt-very-light-gray: hsl(0, 0%, 98%);
  --clr-lt-very-light-grayish-blue: hsl(236, 33%, 92%);
  --clr-lt-light-grayish-blue: hsl(233, 11%, 84%);
  --clr-lt-dark-grayish-blue: hsl(236, 9%, 61%);
  --clr-lt-very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark theme neutral colors *dt="dark theme" */
  --clr-dt-very-dark-blue: hsl(235, 21%, 11%);
  --clr-dt-very-desaturated-dark-blue: hsl(235, 24%, 19%);
  --clr-dt-light-grayish-blue-1: hsl(234, 39%, 85%);
  --clr-dt-light-grayish-blue-2: hsl(236, 33%, 92%);
  --clr-dt-dark-grayish-blue: hsl(234, 11%, 52%);
  --clr-dt-very-dark-grayish-blue-1: hsl(233, 14%, 35%);
  --clr-dt-very-dark-grayish-blue-2: hsl(237, 14%, 26%);


  /* font size */
  --fs: 18px;

  /* font weight */
  --fw-normal: 400;
  --fw-bold: 700;

  /* font family */
  --ff: 'Josefin Sans', sans-serif;
}

/* body */
body {
  font-size: var(--fs);
  font-family: var(--ff);
  font-weight: var(--ff-normal);
  /* background-color: black;
  color: white; */
}

/* .header__title {
  letter-spacing: 15px;
}

.todo-task {
  display: flex;
  background-color: lightblue;
  border: 1px solid black;
  padding: 1rem;
} */